---
import { getCollection } from "astro:content";
import BasicLayout from "../layouts/BasicLayout.astro";
---

<BasicLayout>
  <div class="justify-center h-100 mt-12 mx-8">
    <div class="gap-52">
    <h1 class=" flex text-2xl justify-center  text-amber-50 font-semibold text-center x"> Voici mon portfotio :
    </h1>
    </div>
    
    </div>
    </div>


</BasicLayout>
