<nav class="flex justify-center">
  <div class="flex justify-between m-8">
    <ul class="flex flex-row gap-15 justify-center items-center pr-3 font-Montserrat text-cyan-600 font-bold text-2xl">
      <li>
        <a href="/">
          <svg width="50" height="50" viewBox="0 0 79 81" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_15_2)">
            <path d="M53.7903 80.21H40.0303V2.65L53.7903 0V80.21Z" fill="#0092B8"/>
            <path d="M78.2595 80.21H58.7695V72.05L78.2595 70.86V80.21Z" fill="#0092B8"/>
            <path d="M40.1104 7.54998V46.06C45.7504 41.54 49.3604 34.59 49.3604 26.8C49.3604 19.01 45.7504 12.07 40.1104 7.53998V7.54998Z" fill="#0092B8"/>
            <path d="M32.59 3.43C30.11 2.59 27.45 2.13 24.68 2.13C11.05 2.13 0 13.18 0 26.81C0 40.44 11.05 51.49 24.68 51.49C27.45 51.49 30.11 51.03 32.59 50.19V3.43Z" fill="#0092B8"/>
            </g>
            <defs>
            <clipPath id="clip0_15_2">
            <rect width="78.26" height="80.21" fill="white"/>
            </clipPath>
            </defs>
            </svg>
        </a>
      </li>
      <li><a href="/portfolio">Home</a></li>
      <li><a href="#">Skills</a></li>
      <li><a href="/portfolio/blog">Projet</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</nav>
